{% extends './base.html' %}
{% block content %}

    <div class="row justify-content-center">

        <form class="form-inline" method="POST" action="/ampdb/search/">
            <input name="email" class="form-control" type="text" placeholder="Name">
            {% csrf_token %}
            <input name="email" class="form-control" type="text" placeholder="Email">

            <div class="input-group-append">
                <button type="submit" href="{% url 'ampdb:search' %}" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}
