<!doctype html>
<html lang="en">
{% load static %}
<img src="{% static 'logo.png' %}" width="20%" height="20%">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    {% if protein %}
    <h1>{{ protein.name }}</h1>
    <h3>Details</h3>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <td>Sequence</td>
                <td>{{ protein.sequence }}</td>
              </tr>

              <tr>
                <td>Timy</td>
                <td>{{ protein.tiny }}</td>
              </tr>

              <tr>
                <td>Small</td>
                <td>{{ protein.small }}</td>
              </tr>

              <tr>
                <td>Aliphatic</td>
                <td>{{ protein.aliphatic }}</td>
              </tr>

              <tr>
                <td>Aromatic</td>
                <td>{{ protein.aromatic }}</td>
              </tr>

              <tr>
                <td>None-Polar</td>
                <td>{{ protein.non_polar }}</td>
              </tr>

              <tr>
                <td>None-Polar</td>
                <td>{{ protein.non_polar }}</td>
              </tr>

              <tr>
                <td>Polar</td>
                <td>{{ protein.polar }}</td>
              </tr>

              <tr>
                <td>Charged</td>
                <td>{{ protein.charged_aa }}</td>
              </tr>

              <tr>
                <td>Basic</td>
                <td>{{ protein.basic }}</td>
              </tr>

              <tr>
                <td>Acidic</td>
                <td>{{ protein.acidic }}</td>
              </tr>

              <tr>
                <td>Molecular Weight Tiny</td>
                <td>{{ protein.mol_weight_timy }}</td>
              </tr>

              <tr>
                <td>Molecular Weight Small<</td>
                <td>{{ protein.mol_weight_small }}</td>
              </tr>


              <tr>
                <td>Molecular Weight Aliphatic<</td>
                <td>{{ protein.mol_weight_apliphatic }}</td>
              </tr>


              <tr>
                <td>Molecular Weight Aromatic<</td>
                <td>{{ protein.mol_weight_aromatic }}</td>
              </tr>


              <tr>
                <td>Molecular Weight Non-Polar<</td>
                <td>{{ protein.mol_weight_non_polar }}</td>
              </tr>


              <tr>
                <td>Molecular Weight Polar<</td>
                <td>{{ protein.mol_weight_polar }}</td>
              </tr>


              <tr>
                <td>Molecular Weight Charged<</td>
                <td>{{ protein.mol_weight_charged }}</td>
              </tr>

              <tr>
                <td>Molecular Weight Basic<</td>
                <td>{{ protein.mol_weight_basic }}</td>
              </tr>

              <tr>
                <td>Molecular Weight Acidic<</td>
                <td>{{ protein.mol_weight_acidic }}</td>
              </tr>

              <tr>
                <td>Hydrophobicity</td>
                <td>{{ protein.hydrophobicity }}</td>
              </tr>

              <tr>
                <td>Hydrogen Bond Angle<</td>
                <td>{{ protein.hmoment_angle }}</td>
              </tr>

              <tr>
                <td>Hydrogen Moment Angle 2<</td>
                <td>{{ protein.hmoment_2 }}</td>
              </tr>

              <tr>
                <td>olecular Weight<</td>
                <td>{{ protein.molecular_weight }}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <script src="https://3Dmol.org/build/3Dmol-min.js" ></script>
          <div id="container-01" class="mol-container"></div>
          <style>
          .mol-container {
            width: 80%;
            height: 500px;
            position: relative;
          }
          </style>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script>
          jQuery(function() {
           let element = jQuery('#container-01');
            let config = { backgroundColor: 'White' };
          let viewer = $3Dmol.createViewer( element, config );
          let pdbUri = '/static/pdb/{{ protein.pdb_name}}';
            jQuery.ajax( pdbUri, {
              success: function(data) {
                let v = viewer;
                v.addModel( data, "pdb" );                       /* load data */
                v.setStyle({}, {cartoon: {color: 'spectrum'}});  /* style all atoms */
                v.zoomTo();                                      /* set camera */
                v.render();                                      /* render scene */
                v.zoom(1.2, 1000);                             /* slight zoom */
              },
              error: function(hdr, status, err) {
                console.error( "Failed to load PDB " + pdbUri + ": " + err );
              },
            });
          });
          </script>
               </div>
      {% else %}
      no such protein
      {% endif %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>