{% extends './base.html' %}
{% block content %}
    <div class="row justify-content-center">

        <form class="form-inline" method="POST" action="/ampdb/search/">
            <div class="form-group mx-sm-3 mb-2">
                {% csrf_token %}

                <div class="form-check">
                    <label class="form-check-label" for="exampleRadios2">

                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                               value="option1"
                               checked>
                        <input type="text" class="form-control" name="query_id" value="{{ query_id }}"
                               placeholder="Choose AMP">
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        <input name="email" class="form-control" type="text" placeholder="Chose target protein">

                    </label>
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
