{% extends './base.html' %}
{% block content %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <div class="row justify-content-center">

        <form class="form-inline" method="POST" action="/ampdb/search/">
            <div class="form-group mx-sm-3 mb-2">
                {% csrf_token %}

                <div class="form-check">
                    {#                    <label class="form-check-label" for="exampleRadios2">#}
                    {% for protein in proteins %}


                        <label class="form-check-label"  for= {{ protein.name }}>
                            {{ protein.name }}
                        </label>
                    {% endfor %}
                    #{#                    </label>#}
                </div>

                <div class="form-check">

                    <label class="form-check-label" for="exampleRadios2">
                        <input name="email" class="form-control" type="text" placeholder="Chose target protein">

                    </label>
                </div>


{#                <div class="input-group-append">#}
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
{#                </div>#}

            </div>
        </form>
    </div>

{% endblock %}
