{% extends './base.html' %}
{% block content %}

    {% load static %}

    <h1>
        Statistics
    </h1>
    <ol class="nav nav-tabs">

        <li>
            Threshold value for Hemolytic activity is between 0-1 and all AMPs were fall in this category.
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Hemolytic_activity.jpg' %}" width="600">
        </li>
        <li>
            MIC value for all the selected AMPs have been reported between 0.5-256
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/MIC.jpg' %}" width="600">
        </li>
        <li>
            Highly soluble peptides help in purification processes and all AMPs are highly soluble
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Solubility.jpg' %}" width="600">
        </li>
        <li>
            Standard value for peptide is <10KDa and all the peptides were fall at <5KDa
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Molecular weight.jpg' %}" width="600">
        </li>
        <li>
            Optimum length of a peptide falls below <45
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Length.jpg' %}" width="600">
        </li>
        <li>
            All peptides were cationic except one.
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/charge.jpg' %}" width="600">
        </li>
        <li>
            Distribution of Isoelectric point from experimentally verified dataset of AMPs
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Isoelectric point.jpg' %}" width="600">
        </li>
        <li>
            High Aliphatic index of Selected AMPs
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Aliphatic index.jpg' %}" width="600">
        </li>
        <li>
            Instability Index distribution of AMPs
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Instability index.jpg' %}" width="600">
        </li>
        <li>
            The potential protein interaction index of AMPs and only one show higher Boman Index that does not fall in
            the
            category of potential proteins
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Boman Index.jpg' %}" width="600">
        </li>
        <li>
            Threshold value for very hydrophobic peptides according to Eisenberg scale is ≥ 0.68 and 4 peptides showed
            their
            very hydrophobic nature. The 1 peptide showed Transmembrane ability due to value close to Threshold value
            i.e. ±
            0.42 and 23 were shown to moderately hydrophobic because of their predicted values close to ±1.10. Most of
            the
            AMPs showed hydrophobic and hydrophilic property
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/Amphipathicity.jpg' %}" width="600">
        </li>
        <li>
            Hydrophobic moment of AMPs showed higher Hydrophobic moment
        </li>
        <li>
            <img src="{% static 'img/stats/Hydrophobic moment.jpg' %}" width="600">
        </li>
        <li>
            All peptides have high Root Mean Square Fluctuation values
        </li>
        <br>
        <li>
            <img src="{% static 'img/stats/RMSF.jpg' %}" width="600">
        </li>
        <li>
            All peptides are flexible
        </li>
        <li>
            <img src="{% static 'img/stats/Flexibility.jpg' %}" width="600">

        </li>
    </ol>
{% endblock %}
