{% extends './base.html' %}
{% block content %}

    <h1>
        Tutorial
    </h1>
    <h2>
        Homology model docking complex
    </h2>

    <p>
        Homology modeled docking complex of peptide (purple) and protein (multicolored) highlight the high-quality
        predicted structures.
    </p>

    <div class="container">
    <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/watch?v=u51ZlZOhThY
                            allowfullscreen></iframe>
        </div>
    </div>

    <h2>
        Surface of the protein-ligand complex
    </h2>

    <p>
        Surface of the protein (green), and peptide (blue) employed to visualize the active pocket of the protein
        where the peptide bind.
    </p>

    <div class=" container">
        <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/watch?v=u51ZlZOhThY
                        allowfullscreen></iframe>
        </div>
    </div>

    <h2>
        Surface of the protein-ligand complex
    </h2>

    <p>
    Surface of the protein (green), and peptide (blue) employed to visualize the active pocket of the
    protein where the peptide bind.
    </p>

    <div class=" container">
        <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
        src="https://www.youtube.com/watch?v=u51ZlZOhThY
                allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
