

{% if csrf_token %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ampdb/ampdb/style.css' %}">
<img src="{% static 'logo.png' %}" width="20%" height="20%">

<form method="GET" action="/ampdb/search">
    <label for="querY_id"> Protein PDB ID </label><br></br>
    <input type="text" name="system" value="{{ query_id }}"><br></br>

    <label for="email"> Email </label><br></br>
    <input type="text" name="system" value="email" placeholder="optional"> <br></br>
    
    <br></br>
    
    <button type="submit" value="OK">Search</button>
</form>

{% else %}
    <p>Page unavailable. Pleasse try again soon.</p>
{% endif %}
