{% extends './base.html' %}
{% block content %}
    {% load static %}

    <h2>
        About Us
    </h2>

    <p class="text-justify">
        AbAMPdb is an open repository to screen potential antimicrobial peptides against Acinetobacter baumannii.
        Our
        current index is version 1 and searches more than 150 publications to screen 30 Potential AMPs from
        different
        resources. All the data based on AMPs and their interaction with A. baumannii Omp38 protein Uniprot ID is
        Q6RYW5
        freely available through search index and can be downloaded via available formats.
    </p>

    <h2>
        AbAMPdb Team
    </h2>

    <p class="text-justify">
        Please mention yours and also consult the order of arranging names with Dr. Tariq Saeed <br>
        Farha Anwer (PhD candidate, ASAB, NUST) <br>
        Dr. Amjad Ali (Associate Professor, ASAB, NUST) <br>
    </p>

    <h2>
        AbAMPdb Funding
    </h2>

    <p class="text-justify">
        Atta Ur Rahman School of Applied Biosciences (ASAB), NUST <br>
        Research Centre for Modelling and Simulation (RCMS), NUST
    </p>
        <center><img src="{% static 'img/nust.png' %}" width="20%" height="20%"></center>
{% endblock %}
