{% extends './base.html' %} {% block content %}


<style>
    /* 
Generic Styling, for Desktops/Laptops 
*/
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 200px;
    }
    /* Zebra striping */
    
    tr:nth-of-type(odd) {
        background: #eee;
    }
    
    th {
        background: #333;
        color: white;
        font-weight: bold;
    }
    
    td,
    th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
</style>
<!--Table-->
<form class="form-inline" method="GET" action="abampdb/predicted"></form>
{% csrf_token %}
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
        <tr>

            <th>Select AMP</th>
            <th>AMP name</th>
            <th>AMP-Sequence</th>
            <th>Score ≥5-10</th>
            <th scope="col" style="padding-left: 20px;"> Select Target protein</th>
        </tr>
    </thead>
    <!--Table body-->
    <tbody>
        {% for synthetic in synthetic_list %} {{ protein.id }}
        <tr class="table-info">
            <td><a href="{% url 'abampdb:show-synthetic' synthetic.id %}">Synthetic_AMP{{ synthetic.id }}</a></td>
            <td>{{ synthetic.name }}</td>
            <td>{{ synthetic.synthetic_Sequence }}</td>
            <td>{{ synthetic.synthetic_score }}</td>

            <td>
                <select class="mySelect">
                    <option value="">Select an option...</option>
                    {% for sdock in sdock_list %}
                        <option value="{{ sdock.id }}">{{ sdock.s_dock }}</option>
                    {% endfor %}
                </select>
            </td>
            <script>
                var selectElements = document.getElementsByClassName("mySelect");
                for (var i = 0; i < selectElements.length; i++) {
                    selectElements[i].addEventListener("change", function() {
                        var selectedValue = this.value;
                        if (selectedValue) {
                            var url = "{% url 'abampdb:show-dock' 0 %}".replace("0", selectedValue);
                            window.location.href = url;
                        }
                    });
                }
            </script>


        </tr>
        {% endfor %} {% endblock %}