{% extends './base.html' %} {% block content %}

<div class="alert alert-danger" role="alert">
    <div class="blink_me">Total 39 predicted AMPs were evaluated from screening of literature and interacted with 30 target proteins of <em>A.baumannii</em></div>
</div>

<style>
    /* 
Generic Styling, for Desktops/Laptops 
*/
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 200px;
    }
    /* Zebra striping */
    
    tr:nth-of-type(odd) {
        background: #eee;
    }
    
    th {
        background: #333;
        color: white;
        font-weight: bold;
    }
    
    td,
    th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    
    .alert {
        position: relative;
        top: 180px;
        /* adjust the top value as needed */
    }
    
    .blink_me {
        animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    }
    
    @keyframes blinker {
        to {
            opacity: 0;
        }
    }
</style>
<!--Table-->
<form class="form-inline" method="GET" action="abampdb/predicted"></form>
{% csrf_token %}
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
        <tr>
            <th>AMP ID</th>
            <th>Select AMP</th>
            <th>AMP name</th>
            <th>AMP-Sequence</th>
            <th>Score</th>
            <th>View</th>
        </tr>
    </thead>
    <!--Table body-->
    <tbody>
        {% for synthetic in synthetic_list %} {{ protein.id }}
        <tr class="table-info">
            <td>Synthetic_AMP{{ synthetic.id }}</td>
            <td><input type="radio" name="synthetic_id" value="{{ synthetic.id }}"></td>
            <td>{{ synthetic.name }}</td>
            <td>{{ synthetic.synthetic_Sequence }}</td>
            <td>{{ synthetic.synthetic_score }}</td>
            <td><a href="{% url 'abampdb:show-synthetic' synthetic.id %}">View Synthetic Peptide</a></td>

        </tr>
        {% endfor %} {% endblock %}