{% extends './base.html' %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
        <div class="alert alert-info back-widget-set text-center">
            <i class="fa fa-history fa-spin fa-3x"></i>
            <h9>30</h9>
            Experimental AMPs identified

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
        <div class="alert alert-success back-widget-set text-center">
            <i class="fa fa fa-bars fa-3x"></i>
            <h9>30</h9>
            Experimental AMPs identified

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
        <div class="alert alert alert-warning back-widget-set text-center">
            <i class="fa fa-history fa-spin fa-3x"></i>
            <h9>30</h9>
            Experimental AMPs identified

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
        <div class="alert alert alert-danger back-widget-set text-center">
            <i class="fa fa-history fa-spin fa-3x"></i>
            <h9>30</h9>
            Experimental AMPs identified

        </div>
    </div>

</div>

<style>
    /* 
Generic Styling, for Desktops/Laptops 
*/
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 200px;
    }
    /* Zebra striping */
    
    tr:nth-of-type(odd) {
        background: #eee;
    }
    
    th {
        background: #333;
        color: white;
        font-weight: bold;
    }
    
    td,
    th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    
    .alert {
        position: relative;
        top: 180px;
        /* adjust the top value as needed */
    }
    
    .blink_me {
        animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    }
    
    @keyframes blinker {
        to {
            opacity: 0;
        }
    }
    
    .back-widget-set {
        background-color: transparent;
        height: min-content;
        font-size: 8px;
    }
    
    .panel-success {
        border-color: #d6e9c6;
    }
    
    th {
        background: #4D5061;
        color: rgb(255, 255, 255);
        font-weight: normal;
        font-size: small;
    }
    
    body {
        padding-top: 40px;
    }
</style>

<div class="alert alert-danger" role="alert">
    <div class="blink_me">Total 39 predicted AMPs were evaluated from screening of literature and interacted with 30 target proteins of <em>A.baumannii</em></div>
</div>

<body>
    <form class="form-inline" method="POST" action="abampdb/search">
        {% csrf_token %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-success"></div>

            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th scope="col">AMP ID</th>
                        <th scope="col">Select&nbsp;AMP</th>
                        <th scope="col">AMP name</th>
                        <th scope="col">AMP-Sequence</th>
                        <th scope="col">Score</th>
                        <th scope="col">View Peptide</th>
                        <th scope="col" style="padding-left: 20px;"> Select Peptide-Protein complex</th>
                    </tr>
                </thead>
                {{ form.as_p }}
                <tbody>
                    {% for protein in protein_list %}
                    <tr class="table-info">
                        <td>AMP{{ protein.id }}</td>
                        <td><input type="radio" name="proteins_id" value="{{ proteins.id }}"></td>
                        <td>{{ protein.name }}</td>
                        <td>{{ protein.sequence }}</td>
                        <td>{{ protein.score }}</td>

                        <td>
                            <select class="mySelect">
                                <option value="">Select an option...</option>
                                {% for dock in dock_list %}
                                    <option value="{{ dock.id }}">{{ dock.dock_1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <script>
                            var selectElements = document.getElementsByClassName("mySelect");
                            for (var i = 0; i < selectElements.length; i++) {
                                selectElements[i].addEventListener("change", function() {
                                    var selectedValue = this.value;
                                    if (selectedValue) {
                                        var url = "{% url 'abampdb:show-dock' 0 %}".replace("0", selectedValue);
                                        window.location.href = url;
                                    }
                                });
                            }
                        </script>

                        <td><a href="{% url 'abampdb:protein' proteins_id=protein.pk %}">View Peptide</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        </div>

        </div>

    </form>
    </div>
</body>

{% endblock %}