{% extends './base.html' %} {% block content %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="row justify-content-around">

    <div class="alert alert-danger" role="alert">
        <div class="blink_me">Total 30 AMPs were evaluated from screening of literature and interacted with 30 target proteins of <em>A.baumannii</em></div>
    </div>
    <style>
        .blink_me {
            animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
        }
        
        @keyframes blinker {
            to {
                opacity: 0;
            }
        }
    </style>

    <form class="form-inline" method="POST" action="/search/">
        <div class="form-group mx-sm-3 mb-2">
            {% csrf_token %}

            <div class="form-check">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">AMP ID</th>
                            <th scope="col">Select AMP</th>
                            <th scope="col">AMP name</th>
                            <th scope="col">AMP-Sequence</th>
                            <th scope="col">Score</th>
                            <th scope="col">Select target Protein</th>
                            <th scope="col" style="padding-left: 20px;"> View</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in rows %}

                        <tr>
                            <td>AMP{{ row.left.id }}</td>
                            <td><input type="radio" name="pdb_name" value="{{ row.left.name }}"></td>
                            <td>{{ row.left.name }}</td>
                            <td>{{ row.left.sequence }}</td>
                            <td>{{ row.left.score }}</td>
                            {% if row.right %}

                            <td>
                                <input type="radio" name="target_protein" value="{{ row.right }}"></input>
                                {{ row.right }}

                            </td>
                            <!-- {% else %} -->
                            {% endif %}
                            <td>
                                <!-- <div class="input-group-append"> -->
                                <td><button type="submit" class="btn btn-link">View</button></td>
                                <!-- </div> -->
                            </td>
                        </tr>

                    </tbody>

                    {% endfor %}
                </table>
            </div>
            <!--                <div class="pagination">-->
            <!--							<p class="counter">-->
            <!--					            Page 1 of 3</p>-->
            <!--						<ul class="pagination-list">-->
            <!--                            <li class="disabled"><a><i class="icon-first"></i></a>-->
            <!--                            </li><li class="disabled"><a><i class="icon-previous"></i></a>-->
            <!--                            </li><li class="active"><a>1</a></li>-->
            <!--                            <li><a title="2" href="/abampdb/search/start=20" class="pagenav">2</a></li>-->
            <!--                            <li><a title="3" href="/abampdb/search/start=30" class="pagenav">3</a></li>-->
            <!--                            <li><a title="Next" href="/abampdb/search/start=10" class="pagenav"><i class="icon-next"></i></a></li>-->
            <!--                            <li><a title="End" href="/abampdb/search/start=20" class="pagenav"><i class="icon-last"></i></a></li>-->
            <!--                        </ul>-->
            <!--                        </div>-->



            <!--                {#                <div class="form-check">#}-->
            <!--                {#                    <label class="form-check-label" for="exampleRadios2">#}-->
            <!--                {##}-->
            <!--                {#                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"#}-->
            <!--                {#                               value="option1"#}-->
            <!--                {#                               checked>#}-->
            <!--                {#                        <input type="text" class="form-control" name="query_id" value="{{ query_id }}"#}-->
            <!--                {#                               placeholder="Choose AMP">#}-->
            <!--                {#                    </label>#}-->
            <!--                {#                </div>#}-->
            <!--                {#-->
            <!--                {#                <div class="input-group-append">#}-->
            <!--                <button type="submit" class="btn btn-primary btn-lg">Submit</button>-->
            <!--                {#                </div>#}-->

        </div>
    </form>
</div>

{% endblock %}