{% extends './base.html' %} {% block content %} {% load static %}
<style>

</style>

<div class="container">
    <div class="overlay">

    </div>
    <ul class="piclist">
        <li><img src="{% static 'img/Picture1.png' %}" alt=""></li>
        <li><img src="{% static 'img/Picture2.png' %}" alt=""></li>
        <li><img src="{% static 'img/Picture3.png' %}" alt=""></li>
        <li><img src="{% static 'img/Picture4.png' %}" alt=""></li>
        <li><img src="{% static 'img/Picture5.png' %}" alt=""></li>
        <li><img src="{% static 'img/Picture6.png' %}" alt=""></li>
    </ul>
</div>
{% endblock %}